* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #030252;;
}

.body {
    height: auto;
}

.container {
    border: 2px solid #030252;
}

div {
    color: #030252;
}

.container::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 1;
    border-top: 2px solid #030252;
    border-left: 2px solid #030252;
    border-right: 0px solid #030252;
    border-bottom: 0px solid #030252;
    background: #ffffff;
    transform: rotate(45deg);
    margin-top: -70px;
    margin-left: 200px;
}

button[type="button"] {
    transition: all 0.3s ease-in-out;
    border: #ffffff;
    background: #030252; 
    color: #ffffff;
}

button[type="button"]:hover {
    box-shadow: inset 0 0 50px 0 #0c9dd6;  
    border-radius: 20px;
    color: #ffffff;
}

.btn {
    background: #548398;
    outline: none;
}

#error-email, #error-password {
    display: none;
    color: #ec0b0b;
    padding-bottom: 20px;
}
